.kt-font-md{
    font-size: 1rem !important;
}

.transition2s{
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.kt-brand-light-bg{
    background: #e8f6ff;
}

.kt-font-xxl{
    font-size: 1.85rem;
}

.kt-subheader__title{
    border-bottom: 1px solid #22b9ff;
    width: 100%; 
}

.progress--sm{
    height: .5rem;
}

.team-stats-wrap .col-6:last-child .team-stats{
    left: 10px;
    position: relative;
}

.team-stats{
    font-weight: 500;
    font-size: 1rem;
    margin: 0.2rem 0;
}

.team-stats .stat-label{
    min-width: 55px;
}

.team-stats .stat-value{
    min-width: 35px;
}

.kt-portlet__head-subtitle{
    border-bottom: 1px solid #22b9ff;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.truncate {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.kt-portlet .kt-portlet__space-x{
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.aside-hd{
    color: #22b9ff;
    background: #e8f6ff;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
}

.aside-sub-hd{
    border-bottom: 1px solid #22b9ff;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 10px;
    color: #343a40;
    font-weight: 700;
    font-size: 1.125rem;
}

.filter-single:after{
    clear: both;
    display: block;
    content: '';
}

.font-weight-semi-bold{
    font-weight: 600 !important;
}

.table-sm thead tr th,
.table-sm tbody tr td{
    padding: 0.35rem;
}

.table-sm thead tr th{
    font-weight: 600;
}

.table-custom thead tr th{
    background: #22b9ff;
    color: #fff;
}

.table-custom tbody tr:nth-child(even) td{
    background: #e8f6ff;
}

.odds-overlay {
    background: rgba(0,0,0,0.7);
    width: 100%;
    bottom: 0;
    position: absolute;
    color: #fff;
    padding: 0.45rem 0;
    font-size: 0.835rem;
    font-weight: 600;
    border-radius: 0 0 4px 4px;
    line-height: 1.65;
}

.table-striped thead th{
    border-top: 1px #dcdddf solid !important;
    border-bottom: 1px #dcdddf solid !important;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: transparent;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #f7f8fa;
}

.table-striped tbody tr.selected{
    background: #BDEAFF;
}

.table-striped tbody tr.selected td{
    border-color: #BDEAFF;
}

.podcast-icon{
    width: 120px;
    height: 120px;
    display: block;
    margin: auto;
    line-height: 120px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    color:#22b9ff;
}

.podcast-icon img{
    width: 120px;
}

.podcast-player{
    position: fixed;
    bottom: -90px;
    right: 0;
    height: 90px;
    left: 0;
    z-index: 1000;
    background: #fff;
    -webkit-box-shadow: 10px 2px 10px 0 rgba(0,0,0,.17);
    -moz-box-shadow: 10px 2px 10px 0 rgba(0,0,0,.17);
    box-shadow: 10px 2px 10px 0 rgba(0,0,0,.17);
}

.podcast-player.active{
    bottom: 0;
}

.podcast-player .podcast-icon{
    width: 50px;
    height: 50px;
    line-height: 50px;
    max-width: 50px;
    margin: 0 1.5rem
}

.podcast-player .podcast-icon img{
    width: 50px;
}

.podcast-player .close-player{
    font-size: 2.5rem;
    color:#22b9ff;
}

.kt-aside{
    width: 280px;
}

@media (min-width: 1025px){
    .kt-aside--fixed .kt-wrapper{
        padding-left: 280px;
    }
    .kt-aside-menu-wrapper{
        position: relative;
    }
    .kt-aside .kt-aside-menu {
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
    }
    .podcast-player{
        left:280px;
    }
    .podcast-player .podcast-icon{
        margin: 0 2.125rem
    }
}