.kt-font-xxl{
    font-size: 1.85rem;
}

.kt-subheader__title{
    border-bottom: 1px solid #22b9ff;
    width: 100%;
}

.progress--sm{
    height: .5rem;
}

.team-stats-wrap .col-6:last-child .team-stats{
    left: 10px;
    position: relative;
}

.team-stats{
    font-weight: 500;
    font-size: 0.9rem;
    margin: 0.2rem 0;
}

.team-stats .stat-label{
    min-width: 52px;
}

.team-stats .stat-value{
    min-width: 35px;
}

.kt-portlet__head-subtitle{
    border-bottom: 1px solid #22b9ff;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.truncate {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.kt-portlet .kt-portlet__space-x{
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.aside-hd{
    color: #22b9ff;
    background: #e8f6ff;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
}

.aside-sub-hd{
    border-bottom: 1px solid #22b9ff;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 10px;
    color: #343a40;
    font-weight: 700;
    font-size: 1.125rem;
}

.filter-single:after{
    clear: both;
    display: block;
    content: '';
}

.font-weight-semi-bold{
    font-weight: 600 !important;
}

.table-sm thead tr th,
.table-sm tbody tr td{
    padding: 0.35rem;
}

.table-sm thead tr th{
    font-weight: 600;
}

.table-custom thead tr th{
    background: #22b9ff;
    color: #fff;
}

.table-custom tbody tr:nth-child(even) td{
    background: #e8f6ff;
}

.odds-overlay {
    background: rgba(0,0,0,0.7);
    width: 100%;
    bottom: 0;
    position: absolute;
    color: #fff;
    padding: 0.45rem 0;
    font-size: 0.835rem;
    font-weight: 600;
    border-radius: 0 0 4px 4px;
    line-height: 1.65;
}

.table-striped thead th{
    border-top: 1px #dcdddf solid !important;
    border-bottom: 1px #dcdddf solid !important;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: transparent;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #f7f8fa;
}

.table-striped tbody tr.selected{
    background: #b6e6fc;
}

.table-striped tbody tr.selected td{
    border-color: #b6e6fc;
}

@media (min-width: 1025px){
    .kt-aside-menu-wrapper{
        position: relative;
    }
    .kt-aside .kt-aside-menu {
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
    }
}